
@media (min-width:500px) {    
    .flower-items {
        height: 375px;
    }
}

@media (max-width:500px) {    
    .flower-items {
        height: 190px;
    }
}

@media (min-width: 1200px) {
    #all {
        padding-left: 45px;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    
    .flower-items li {
        width: 107px;
    }
    
    #all img {
        width: 100px;
    }
    
    #all li {
        width: 107px;
    }
}

@media (min-width: 650px) and (orientation: landscape) {
    #main {
        height:995px;
    }
    
    .flower-items {
        height: 160px;
    }
    
    #all li {
        padding-left: 10px;
        height: 175px;
        width: 270px;
    }
    
    #all img {
        width: 180px;
        height: 150px;
    }
    
    #all {
        padding-left: 91px;
        margin: 25px auto;
    }
    
    .flower-items ul {
         width: 680px !important;
    }
}


@media (min-width: 650px) and (max-width: 700px) and (orientation: landscape) {
   .flower-items ul {
        padding-left: 35px !important;
    }
}

@media (min-width: 710px) and (max-width: 750px) and (orientation: landscape) {
   #all ul {
        padding-left: 30px !important;
    }
}
