html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.flower-items {
    width: 1300px;
    height: 855px;
}

.flower-items ul {
    list-style: none;
    display: inline-flex;
    width: 1300px;
    margin: 45px auto;
    padding-left: 42px;
}

.flower-items li {
    list-style: none;
    width: 405px;
    height: 405px;
}

.flower-items img {
    width: 370px;
    height: 350px;
}