html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav-menu nav-menu nav-menu' '. flower-type .' 'flower flower flower' 'footer footer footer';
}

.grid-container > div {
    text-align: center;
}

.flower-type {
    display: grid;
    grid-area: flower-type;
    justify-content: center;
}

.flower {
    display: grid;
    grid-area: flower;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap: 20px;
    margin: 10px 0 30px 0;
}

.flower > div > h3 {
    display: block;
}


.flower img {
    width: 370px;
    height: 350px;
}

#flower-name {
    text-align: center;
    z-index: 6;
}

#flower-info ul{
    grid-auto-flow: dense;
}

#inline-content {
    background-color: #fff;
    height: 329px;
    width: 329px;
    align-content: center;
}

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

#sb-wrapper-inner {
    height: 500px !important;
    bottom: 50px; !important;
}

#sb-body div{
    background-color: #fff;
}

#sb-body img {
    width: 290px;
    height: 225px;
}

#sb-body ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

#sb-player.html {
    overflow: hidden !important;
}

#sb-info {
    bottom: 45px !important;
}

#flower-info {
    z-index: 2;
}

#flower-info p {
    margin: 0 0;
    height: 55px;
    font-size: 13px;
}

.ratings {
    list-style: none;
    padding-left: 20px;
}

.ratings ol {
    padding-left: 0;
    display: flex;
    text-align: left;
    list-style: none;
    height: 26px;
}

.ratings li {
    text-align: left;
    list-style: none;
}

.progress-bar-success {
    background-color: #5cb85c !important;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: left;
    background-color: #B97F6D !important;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    padding-left: 5px;
}

.progress {
    height: 20px;
    margin: 8px 0 0 3px;
    background-color: #415A5B !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1) !important;
}

#all {
    padding-left: 18px;
}

@media (min-width: 500px) {
    .ratings {
        display: block;
    }
    
    .mobile-ratings {
        display: none; 
    }
}

@media (max-width: 425px) {  
    
    .ratings {
        display: none;
    }
    
    .flower img {
        width: 165px;
        height: 190px;
    }
    
    #flower-info p {
        margin: 0 auto;
        height: 40px;
        font-size: 28px;
        text-align: left;
        width: 100px;
    }
    
    .grid-container {
        display: grid;
        grid-template-areas: 'nav-menu' 'flower-type' 'flower' 'footer';
        grid-auto-flow: row;
    }
    
    .flower-type {
        display: grid;
        grid-area: flower-type;
    }
    
    .flower {
        grid-auto-flow: row;
        grid-gap: 2em;
        grid-template-columns: 42% 44%;
        margin: 10px 0 30px 0;
    }
    
    .flower > div > h3 {
        display: none;
    }
    
    .mobile-ratings {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-flow: column;
        padding-left: 30px;
    }
    
    .mobile-ratings > ul {
        grid-auto-flow: row;
    }
    
    #sb-wrapper {
        top: 90px !important;
    }
    
    .glyphicon, .glyphicon-ok {
        color: #007F00;
    }
     
    #all img {
        width: 110px;
        height: 160px;
    }
}

@media (max-width: 425px) and (min-width: 410px) {
    .flower {
        grid-template-columns: 35% 40%;
        grid-gap: 2em 3em;
    }
}

/* zoomed view with no grid */
@supports not (display: grid) and (max-width: 425px) {
    
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    
    .flower {
        grid-gap: 24px;
        grid-template-columns: 42% 44%;
    }

    .flower img {
        width: 140px;
        height: 165px;
    }
    
    .mobile-ratings {
        display: grid;
        grid-template-columns: 31% 30% 29%;
        padding-left: 4px;
    }
    
    .mobile-ratings > ul {
        padding-left: 3px !important;
    }
    
    #sb-body img {
        width: 275px;
    }

    #sb-wrapper-inner {
        bottom: 70px;
    }
}

@media screen and (min-width: 540px) and (max-width: 580px) and (orientation: landscape) {
    .flower {
        grid-template-columns: 40% 40%;
    }
}

@media (max-width: 800px) and (min-width: 500px) and (orientation: landscape) {
    
    .flower img {
        width: 200px;
        height: 200px;
    }
    
    #flower-info p {
        font-size: 22px;
    }
    
    .ratings {
        display: none;
    }
    
    #sb-body img {
        width: 170px;
        height: 170px;
    }
    
    .mobile-ratings {
        display: inline-flex;
        width: 315px;
        padding-left: 7px;
        padding-top: 5px
    }
    
    .mobile-ratings ul {
        width: 145px;
    }
    
    .mobile-ratings li {
        height: 30px;
    }
    
    #mobile-img {
        height: 136px;
    }
    
    #yes {
        padding-left: 28px;
    }
    
    #flower-info img {
        height: 135px;
    }
    
    #sb-wrapper {
        top: 105px !important;
    }
    
    #sb-body {
        height: 368px !important;
    }
    
    #sb-wrapper-inner {
        height: 370px !important;
        bottom: 115px;
    }
    
    .glyphicon, .glyphicon-ok {
        color: #007F00;
    }
    
    #all {
        margin: 32px auto;
    }
    
    #all img {
        width: 100px;
        height: 135px;
    }

    #all img {
        width: 100px;
        height: 135px;
    }
    
    #all li {
        padding-left: 18px;
        height: 165px;
        width: 127px;
        padding-right: 0px;
    }
}

@media (max-width: 1024px) and (min-width: 900px) {
    .flower {
        grid-template-columns: 40% 40%;
        justify-content: center;
        margin: 0;
    }
}
