/* latin-ext */

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v5/S1bXQ0LrY7AzefpgNae9sYDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v5/JaMH4jmmzP070-OYo03anaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Michroma */

@font-face {
    font-family: 'Michroma', sans-serif;
}

.item1 {
    grid-area: nav-menu;
    background-color: #123132 !important;
    display: grid;
    grid-template-columns: 51% 39% 10%;
    grid-template-rows: 100px;
}

.item1 h2 {
    font-size: 26px
}

.item1 li {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #B97F6D;
    background-color: transparent;
}

.navbar-default {
    background-color: #123132;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #EDEDEE;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: #EDEDEE;
}

#mySidenav h1 {
    margin: 0;
}

#mySidenav li:nth-of-type(1) ~ li {
    margin: 5px auto;
}

#smallnav h1 {
    margin-top: 15px;
}

#current-deals ol > li:nth-of-type(2) {
    padding-left: 10px;
}

#nav-account {
    margin: 20px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #EDEDEE;
}

/* will be item3, item4, item5 instead */

#main {
    transition: margin-left .5s;
}


@media screen and (min-width: 500px) {
    #smallnav {
        display: none;
    }
} 

@media screen and (max-width: 750px) and (min-width: 430px) and (orientation: landscape) {
 .item1 {
        grid-template-columns: 79% 28% !important;
    }
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .item1 {
        grid-template-columns: 100%;
        justify-content: center;
    }
    
    .item1 ul {
        grid-auto-flow: row;
    }

    #tea-text {
        display: none;
    }

    .grid-container > div {
        text-align: center;
        font-size: unset;
    }

    #inline-nav,
    #current-deals,
    #nav-account {
        display: none;
    }
    
    .text-muted {
        font-size: 11px !important;
    }

    #smallnav {
        display: block;
    }
}

.nav {
    text-align: left;
    height: 70px;
    line-height: 70px;
    display: block;
    margin: 5px auto;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #B97F6D;
}

.nav span {
    font-size: 30px;
    cursor: pointer;
}

.company-logo {
    display: block;
    width: 300px;
    margin: 0 375px auto 235px;
    padding: 15px;
}

.social-media-container {
    width: 200px;
    margin: 15px 466px;
    height: 50px;
}

.fa {
    padding: 5px 0 3px 1px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 7px 1px 0 0;
    border-radius: 15%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #B97F6D;
    color: #EDEDEE;
}

.fa-twitter {
    background: #B97F6D;
    color: #EDEDEE;
}

.fa-instagram {
    background: #B97F6D;
    color: #EDEDEE;
}

/*
    HTML Implementation
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt-Vm99mpjLqXHnuDIX3EiQI_URst0NW8&callback=initMap"></script> 
*/

#hours {
    margin-right: 20px;
}

ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}
ol {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}


.item6 {
    grid-area: footer;
    display: grid;
    height: 300px;
    background-color: #123132 !important;
}

.item6 ul > li > ul {
    grid-auto-flow: row;
}

.item6 ul > li > ul > li {
    padding: 0 0;
}

.item6 {
    height: 100%;
}

.text-muted {
    font-size: 15px;
}

#map {
    height: 250px;
    width: 1000px;
    margin: 20px 0px 0 12px;
}