html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav-menu nav-menu nav-menu' '. shop-title .' 'shop1 shop1 shop1' 'shop2 shop2 shop2' 'footer footer footer';
}

.grid-container > div {
    text-align: center;
}

p {
    margin: 0 0 5px;
}

.merch-title {
    grid-area: shop-title;
    text-align: center;
    grid-auto-flow: column;
}

.shop-items1 {
    display: grid;
    grid-area: shop1;
    grid-auto-flow: column;
}

.shop-items2 {
    display: grid;
    grid-area: shop2;
    grid-auto-flow: column;
}

#sb-body img {
    width: inherit;
}

img {
    width: 370px;
    height: auto;
}

/*
.shop-items {
    width: 1270px;
    text-align: center;
    font-style: italic;
    margin: 0 0;
}

.shop-items ul {
    list-style: none;
    display: block;
    margin: 25px auto;
    padding-left: 48px;
}

.shop-items li {
    list-style: none;
    width: 405px;
    height: 405px;
}

.shop-items img {
    width: 370px;
    height: 350px;
}

.shop-items p {
    margin: 0 auto;
}
*/

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

@media (min-width: 1200px) {
    .shop-items ul {
        padding-left: 40px;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    .shop-items li {
        width: 345px !important;
    }
    
    .shop-items ul {
        margin-bottom: 0;
    }
    
    .item1,
    .item6,
    .shop-items1,
    .shop-items2 {
        width: 320px;
    }
}


@media (max-width: 425px) {
    
    .shop-items1 img,
    .shop-items2 img {
        width: 370px;
    }
    
    .grid-container {
        display: grid;
        grid-template-areas: 'nav-menu' 'shop-title' 'shop1' 'shop2' 'footer';
    }
    
    .shop-items1,
    .shop-items2 {
        grid-auto-flow: row;
    }
    
    .shop-items1,
    .shop-items2 {
        display: block;
    }
    
}

@media screen and (min-width: 550px) and (max-width: 570px) and (orientation: landscape) {
    img {
        width: 175px !important;
    }
    
    #sb-player {
        width: 350px !important;
    }
}

@media screen and (max-width: 750px) and (min-width: 500px) and (orientation: landscape) {

    .grid-container {
        display: grid;
        grid-template-areas: 'nav-menu nav-menu nav-menu' '. shop-title .' 'shop1 shop1 shop1' 'shop2 shop2 shop2' 'footer footer footer';
    }
    
    .nav {
        display: grid;
    }
    
    .nav-small {
        line-height: 10px;
        z-index: 10;
    }
    
    .navbar-default {
        height: 0;
    }
    
    img {
        width: 190px;
    }
    
    #sb-player {
        width: 430px;
    }
    
    .shop-items1 {
        display: grid;
        grid-area: shop1;
        justify-content: space-around;
    }
    
    .shop-items2 {
        display: grid;
        grid-area: shop2;
        justify-content: space-around;
    }
    
    .social-media-container {
        width: 200px;
        margin: 15px 245px;
        height: 30px;
    }
}
