html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

#merch-title {
    text-align: center;
}

.shop-items {
    width: 1270px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
}

.shop-items ul {
    list-style: none;
    display: block;
    margin: 25px auto;
    padding-left: 48px;
}

.shop-items li {
    list-style: none;
    width: 405px;
    height: 405px;
}

.shop-items img {
    width: 370px;
    height: 350px;
}

.shop-items p {
    margin: 0 auto;
}

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    .shop-items li {
        width: 345px !important;
    }
    
    .shop-items ul {
        margin-bottom: 0;
    }  
}


@media (max-width: 425px) {
    .shop-items {
        width: 400px;
    }
    
    .shop-items ul {
        margin: 10px auto;
        margin-bottom: 0;
        padding-left: 0px;
    }
    
    .shop-items li {
        width: 398px;
    }
    
    .shop-items img {
        width: 370px;
    }
    
}

@media (max-width: 425px) and (min-width: 414px) {
    #merch-title {
        width: 425px;
    }
}