html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav-menu nav-menu nav-menu' '. shop-title .' 'shop1 shop1 shop1' 'shop2 shop2 shop2' 'footer footer footer';
}


.grid-container > div {
    text-align: center;
}

p {
    margin: 0 0 5px;
}

.merch-title {
    grid-area: shop-title;
    text-align: center;
    grid-auto-flow: column;
}

.shop-items1 {
    display: grid;
    grid-area: shop1;
    grid-auto-flow: column;
}

.shop-items2 {
    display: grid;
    grid-area: shop2;
    grid-auto-flow: column;

}

img {
    width: 370px;
    height: auto;
}

/*
.shop-items {
    width: 1270px;
    text-align: center;
    font-style: italic;
    margin: 0 0;
}

.shop-items ul {
    list-style: none;
    display: block;
    margin: 25px auto;
    padding-left: 48px;
}

.shop-items li {
    list-style: none;
    width: 405px;
    height: 405px;
}

.shop-items img {
    width: 370px;
    height: 350px;
}

.shop-items p {
    margin: 0 auto;
}
*/

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

@media (min-width: 1200px) {
    .shop-items ul {
        padding-left: 40px;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    .shop-items li {
        width: 345px !important;
    }
    
    .shop-items ul {
        margin-bottom: 0;
    }  
}


@media (max-width: 425px) {
    .shop-items {
        width: 400px;
    }
    
    .shop-items ul {
        margin: 10px auto;
        margin-bottom: 0;
        padding-left: 0px;
    }
    
    .shop-items li {
        width: 398px;
    }
    
    .shop-items img {
        width: 370px;
    }
    
}

@media (max-width: 425px) and (min-width: 414px) {
    #merch-title {
        width: 425px;
    }
    
    .shop-items ul {
        padding-left: 20px;
    }
    
    .grid-container {
        display: grid;
       grid-template-areas: 'nav-menu' 'shop-title' 'shop1' 'shop2' 'footer';
    }
}


@media (max-width: 670px) and (min-width: 500px) {
    .shop-items {
        width: 800px;
    }
    
    .shop-items ul {
        padding-left: 20px;
    }
    
    .shop-items li {
        width: 215px;
        height: 350px;
    }
    
    .shop-items img {
        width: 200px;
        height: 300px;
    }
}

@media (max-width: 820px) and (min-width: 720px) {
    .shop-items li {
        width: 234px;
        height: 350px;
    }
    
    .shop-items ul {
        padding-left: 30px;
    }
    
    .shop-items {
        width: 800px;
    }
    
    .shop-items img {
        width: 200px;
        height: 285px;
    }
}

@media (max-width: 850px) and (min-width: 810px) {
    .shop-items ul {
        padding-left: 70px;
    }
}