/*
  TODO: Refactor media queries to remove redundant code
  ---iphone 6---
  only screen and (device-width: 375px) and (device-height: 667px) and (orientation : portrait)

  screen and (device-height: 375px) and (device-width: 667px) and (orientation : landscape) 

  ---other phones---
  only screen and (max-width: 360px) and (orientation : portrait) 

  --iphone 6plus--
  only screen and (device-width: 414px) and (device-height: 736px)
  screen and (device-width: 736px) and (device-height: 414px) and (orientation : landscape) 
  
 ---other phones---
 only screen and (max-width: 412px) and (device-height: 732px)
 
*/

@media (max-width: 425px) {
    
    #smallnav-container {
        display: block;
    }
    
    #inline-nav {
        display: none;
    }

    .nav-small span {
        font-size: 30px;
        cursor: pointer;
        padding-left: 5px;
        line-height: 10px;
    }

    body {
        color: #B97F6D;
        background-color: #EDEDEE;
    }

    div #hivie a {
        color: #B97F6D;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        background-color: #123132;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #B97F6D;
        display: block;
        transition: 0.5s;
        margin-bottom: -30px
    }

    .nav-items {
        opacity: 0;
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: #ede1de;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
        .nav-container ul {
        padding: 0;
    }
    
        .social-media-container {
        display: none;
    }
    
    #map {
        display: none;
    }
    
    #carousel-text {
        display: none;
    }

}
@media screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {

    #silo-nav {
        height: 50px;
    }

    #silo-nav img {
        height: 85px;
        width: 85px;
    }

    #hivie {
        text-align: center;
    }
    
    .nav-small {
        display: block;
        text-align: center;
        height: 12px;
        line-height: 20px;
        z-index: 16;
    }

    .social-media-container {
        display: none;
    }

    .sidenav a {
        font-size: 30px;
        margin-bottom: 0;
        padding: 20px 8px 8px 5px;
    }

    .sidenav {
        text-align: center;
    }

    .nav-container {
        background: #123132;
        color: #B97F6D;
        z-index: 16;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 140px;
    }

    #nav-account {
        height: 0;
        margin: -40px 0px 0 0px;
        float: right;
        width: 48px;
        padding-left: 0;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 110px;
        padding: 0px;
    }

    .carousel-inner {
        height: 530px;
        margin: 0 0 10px 0;
        width: 400px;
    }

    #myCarousel img {
        height: 530px;
    }

    .culture {
        padding: 0 0 0 0;
        margin: 0px auto;
        width: 375px;
        text-align: center;
    }

    #culture-header {
        height: 50px;
        width: 330px;
        text-align: center;
    }

    #culture-header li {
        height: 1px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 262px;
    }

    .culture ul {
        padding: 0 0px 0 0;
        margin: 0px auto;
        width: 300px;
    }

    .culture li {
        list-style: none;
        height: 228px;
        text-align: left;
        margin: 0px 0;
        padding: 0px 0 0 0px;
        font-size: 10px;
    }

    #culture-text {
        display: none;
    }

    .culture img {
        list-style: none;
        height: 207px;
        width: 300px;
        margin: 0px auto;
    }

    #cult2 {
        display: inline;
    }

    #est-container {
        display: none;
    }

    h3 {
        font-size: 14px;
    }

    #tea-header,
    #tea-header li {
        height: 50px;
        width: 365px;
        padding-left: 0;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 375px;
    }

    .tea ul {
        width: 350px;
        padding: 0px 0 0 0;
        display: block;
        margin: 0 0;
    }

    .tea li {
        list-style: none;
        width: 372px;
        height: 350px;
    }

    .tea img {
        width: 300px;
        height: 325px;
    }

    #tea1-overlay,
    #tea2-overlay {
        display: none;
    }

    #tea-text {
        text-align: center;
        padding: 10px 8px;
        font-size: 8px;
        display: none;
    }

    .anchor-items {}

    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 300px;
    }

    #flower-header,
    #flower-header li {
        height: 60px;
        width: 300px;
    }

    .flower-row ul {
        width: 400px;
        padding: 0 0;
    }

    .flower-row li {
        list-style: none;
        height: 272px;
        width: 325px;
        padding: 0 0 0;
    }

    .flower-row img {
        list-style: none;
        height: 250px;
        width: 300px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        display: none;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 500px;
        height: 440px;
        background-color: #123132;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #footer-items {
        display: grid;
        width: 405px;
        margin: 0 0;
        padding: 0 0;
    }
}


/* Landscape */

@media screen and (device-height: 375px) and (device-width: 667px) and (orientation: landscape) {

    #inline-nav {
        display: none;
    }

    #silo-nav {
        height: 25px;
    }

    #silo-nav img {
        height: 50px;
        width: 50px;
    }

    .nav-small {
        display: block;
        text-align: center;
        height: 12px;
        line-height: 10px;
        z-index: 10;
    }

    #hivie {
        text-align: center;
    }

    .social-media-container {
        display: none;
    }

    .nav-container {
        background: #123132;
        color: #B97F6D;
        z-index: 16;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 140px;
    }

    #nav-account {
        height: 0;
        margin: -40px 0px 0 0px;
        float: right;
        width: 48px;
        padding-left: 0;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 220px;
        padding: 0px;
    }

    .carousel-inner {
        height: 530px;
        margin: 0 0 10px 0;
        width: 100%;
    }

    #myCarousel img {
        height: 530px;
    }
    .culture {
        padding: 0 0 0 0;
        margin: 0px auto;
        width: 665px;
        text-align: center;
    }

    .landscape {
        display: none;
    }

    #culture-header {
        display: none;
    }

    #landscape-header {
        display: block;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    #culture-header li {
        height: 1px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 262px;
    }

    .culture ul {
        padding: 0 0px 0 0;
        margin: 0px 0;
        width: 630px;
        display: flex;
    }

    .culture li {
        list-style: none;
        height: 225px;
        text-align: left;
        margin: 18px 4px 0 0px;
        padding: 0 57px 0 0px;
        font-size: 10px;
    }

    #cult2 {
        display: inline;
    }

    #est-container {
        display: none;
    }

    #culture-text {
        display: none;
    }

    .culture img {
        list-style: none;
        height: 207px;
        width: 299px;
        margin: 0px auto;
    }

    h3 {
        font-size: 14px;
    }

    #tea-header,
    #tea-header li {
        height: 50px;
        width: 650px;
        padding-left: 0;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 680px;
    }

    .tea ul {
        width: 300px;
        padding: 0px 0 0 0;
        display: block;
    }

    .tea li {
        list-style: none;
        width: 372px;
        height: 350px;
    }

    .tea img {
        width: 300px;
        height: 325px;
    }

    #tea1-overlay,
    #tea2-overlay {
        display: none;
        visibility: hidden;
    }

    #tea-text {
        text-align: center;
        padding: 10px 8px;
        font-size: 8px;
        display: none;
    }

    .anchor-items {}

    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 631px;
    }

    #flower-header,
    #flower-header li {
        height: 60px;
        width: 633px;
    }

    .flower-row ul {
        width: 668px;
        padding: 0 0;
    }

    .flower-row li {
        list-style: none;
        height: 272px;
        width: 222px;
        padding: 0 0 0;
    }

    .flower-row img {
        list-style: none;
        height: 225px;
        width: 190px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        display: none;
        visibility: hidden;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 440px;
        background-color: #123132;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #map {
        display: none;
    }

    #footer-items {
        display: grid;
        width: 100%;
        margin: 0 0;
        padding: 0 0;
    }
}


@media screen and (device-width: 414px) and (device-height: 736px) {

    #silo-nav {
        height: 25px;
    }

    #silo-nav img {
        height: 50px;
        width: 50px;
    }

    #hivie {
        text-align: center;
    }

    .nav-small {
        display: block;
        text-align: center;
        height: 12px;
        line-height: 10px;
    }

    .nav-container {
        background: #123132;
        color: #B97F6D;
        z-index: 1;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 140px;
    }

    .nav-container ul {
        list-style: none;
        padding-left: 15px;
    }

    #nav-account {
        height: 0;
        margin: -40px 0px 0 0px;
        float: right;
        width: 48px;
        padding-left: 0;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 125px;
        padding: 0px;
    }

    .carousel-inner {
        height: 550px;
        margin: 0 0 10px 0;
    }

    .culture {
        padding: 0 0 0 0;
        margin: 0px auto;
        width: 375px;
        text-align: center;
    }

    #culture-header {
        height: 50px;
        width: 330px;
        text-align: center;
    }

    #culture-header li {
        height: 1px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 270px;
    }

    .culture ul {
        padding: 0 0px 0 0;
        margin: 0px auto;
        width: 300px;
    }

    .culture li {
        list-style: none;
        height: 228px;
        text-align: left;
        margin: 0px 0;
        padding: 0px 0 0 0px;
        font-size: 10px;
    }

    #culture-text {
        display: none;
    }

    .culture img {
        list-style: none;
        height: 207px;
        width: 300px;
        margin: 0px auto;
    }

    #cult2 {
        display: inline;
    }

    #est-container {
        display: none;
    }

    h3 {
        font-size: 14px;
    }

    #tea-header,
    #tea-header li {
        height: 50px;
        width: 400px;
        padding-left: 0;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 630px;
    }

    .tea ul {
        width: 350px;
        padding: 0px 0 0 0;
        display: block;
        margin: 0 0;
    }

    .tea li {
        list-style: none;
        width: 407px;
        height: 350px;
    }

    .tea img {
        width: 300px;
        height: 325px;
    }

    #tea1-overlay,
    #tea2-overlay {
        display: none;
    }

    #tea-text {
        text-align: center;
        padding: 10px 8px;
        font-size: 8px;
        display: none;
    }

    .anchor-items {}

    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 300px;
    }

    #flower-header,
    #flower-header li {
        height: 60px;
        width: 300px;
    }

    .flower-row ul {
        width: 400px;
        padding: 0 0;
    }

    .flower-row li {
        list-style: none;
        height: 272px;
        width: 325px;
        padding: 0 0 0;
    }

    .flower-row img {
        list-style: none;
        height: 250px;
        width: 300px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        display: none;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 500px;
        height: 440px;
        background-color: #123132;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #map {
        display: none;
    }

    #footer-items {
        display: grid;
        width: 433px;
        margin: 0 0;
        padding: 0 0;
    }
}



/* Landscape */

@media screen and (device-width: 736px) and (device-height: 414px) and (orientation: landscape) {

    #inline-nav {
        display: none;
    }

    #silo-nav {
        height: 25px;
    }

    #silo-nav img {
        height: 50px;
        width: 50px;
    }

    #hivie {
        text-align: center;
    }

    .nav-small {
        display: block;
        text-align: center;
        height: 12px;
        line-height: 10px;
    }

    .social-media-container {
        display: none;
    }

    .nav-container {
        background: #123132;
        color: #B97F6D;
        z-index: 1;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 140px;
    }

    #nav-account {
        height: 0;
        margin: -40px 0px 0 0px;
        float: right;
        width: 48px;
        padding-left: 0;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 256px;
        padding: 0px;
    }

    .carousel-inner {
        height: 200px;
        /*!important;*/
        margin: 0 0 10px 0;
    }

    .culture {
        padding: 0 0 0 0;
        margin: 0px auto;
        width: 681px;
        text-align: center;
    }

    .landscape {
        display: none;
    }

    #culture-header {
        display: none;
    }

    #landscape-header {
        display: block;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    #culture-header li {
        height: 1px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 262px;
    }

    .culture ul {
        padding: 0 0px 0 0;
        margin: 0px 0;
        width: 630px;
        display: flex;
    }

    .culture li {
        list-style: none;
        height: 225px;
        text-align: left;
        margin: 18px 4px 0 0px;
        padding: 0 57px 0 0px;
        font-size: 10px;
    }

    #culture-text {
        display: none;
    }

    .culture img {
        list-style: none;
        height: 207px;
        width: 299px;
        margin: 0px auto;
    }

    h3 {
        font-size: 14px;
    }

    #tea-header,
    #tea-header li {
        height: 50px;
        width: 650px;
        padding-left: 0;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 680px;
    }

    .tea ul {
        width: 350px;
        padding: 0px 0 0 0;
        display: flex;
        margin: 0 0;
    }

    .tea li {
        list-style: none;
        width: 372px;
        height: 350px;
    }

    .tea img {
        width: 300px;
        height: 325px;
    }

    #tea1-overlay,
    #tea2-overlay {
        visibility: hidden;
    }

    #tea-text {
        text-align: center;
        padding: 10px 8px;
        font-size: 8px;
        display: none;
    }

    .anchor-items {}

    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 631px;
    }

    #flower-header,
    #flower-header li {
        height: 60px;
        width: 633px;
    }

    .flower-row ul {
        width: 668px;
        padding: 0 0;
    }

    .flower-row li {
        list-style: none;
        height: 272px;
        width: 222px;
        padding: 0 0 0;
    }

    .flower-row img {
        list-style: none;
        height: 225px;
        width: 190px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        display: none;
        visibility: hidden;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 440px;
        background-color: #123132;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #map {
        display: none;
    }

    #footer-items {
        display: grid;
        width: 100%;
        margin: 0 0;
        padding: 0 0;
    }
}


@media screen and (max-width: 360px) and (orientation: portrait) {

    #silo-nav {
        height: 25px;
    }

    #silo-nav img {
        height: 50px;
        width: 50px;
    }

    #hivie {
        text-align: center;
    }

    .nav-small {
        display: block;
        text-align: center;
        height: 12px;
        line-height: 10px;
    }

    .social-media-container {
        display: none;
    }

    .nav-container {
        background: #123132;
        color: #B97F6D;
        z-index: 1;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 140px;
    }

    #nav-account {
        height: 0;
        margin: -40px 0px 0 0px;
        float: right;
        width: 48px;
        padding-left: 0;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 110px;
        padding: 0px;
    }

    .carousel {
        margin-bottom: -7px;
        width: 350px;
        height: 600px;
        margin: 0 auto;
    }
    
    .carousel-inner {
        width: 100%;
        height: 600px;
        margin: 0 0 10px 0;
    }
    
    .carousel-inner .item img {
        height: 600px;
    }

    .culture {
        padding: 0 0 0 0;
        margin: 0px auto;
        width: 350px;
        text-align: center;
    }

    #culture-header {
        height: 50px;
        width: 330px;
        text-align: center;
    }

    #culture-header li {
        height: 1px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 262px;
    }

    .culture ul {
        padding: 0 0px 0 0;
        margin: 0px auto;
        width: 300px;
    }

    .culture li {
        list-style: none;
        height: 350px;
        text-align: left;
        margin: 0px 0;
        padding: 0px 0 0 0px;
        font-size: 10px;
    }
    
    #est-container {
        padding: 85px 0px 0 0px;
        height: 350px;
        width: 300px;
    }
    
    #est-container h1 {
        text-align: center;
        margin: 2px 15px 0 auto;
    }
    
    #silhouette {
        margin-right: 60px;
    }
    
    #est-container ul {
        list-style: none;
        width: 180px;
        display: inline-flex;
        margin-left: 10px;
    }
    
    #est-container li {
        list-style: none;
        width: 90px;
        height: 200px;
        padding-left: 0;
    }
    
    #est-container img {
        list-style: none;
        width: 160px;
        height: 140px;
    }
    
    #culture1-overlay,
    #culture2-overlay,
    #culture3-overlay {
        display: none;
    }

    #anchor-container {
        padding: 0;
        height: 70px;
        width: 35px;
    }

    #culture-text {
        text-align: center;
        padding: 40px 0px;
        font-size: 10px;
        width: 345px;
        display: none;
    }

    .culture img {
        list-style: none;
        height: 325px;
        width: 300px;
        margin: 0px auto;
    }

    h3 {
        font-size: 14px;
    }

    #tea-header,
    #tea-header li {
        height: 25px;
        width: 340px;
        padding-left: 0;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 630px;
    }

    .tea ul {
        width: 300px;
        padding: 0px 0 0 0;
        display: block;
    }

    .tea li {
        list-style: none;
        width: 300px;
        height: 350px;
    }

    .tea img {
        width: 300px;
        height: 325px;
    }

    #tea1-overlay,
    #tea2-overlay {
        display: none;
    }

    #tea-text {
        text-align: center;
        padding: 10px 8px;
        font-size: 8px;
        display: none;
    }

    .anchor-items {}

    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row {
        padding: 0 0 0 0;
        margin: 10px auto;
        width: 300px;
    }

    #flower-header,
    #flower-header li {
        height: 60px;
        width: 300px;
    }

    .flower-row ul {
        width: 400px;
        padding: 0 0;
    }

    .flower-row li {
        list-style: none;
        height: 272px;
        width: 325px;
        padding: 0 0 0;
    }

    .flower-row img {
        list-style: none;
        height: 250px;
        width: 300px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        display: none;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 500px;
        height: 440px;
        background-color: #123132;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #map {
        display: none;
    }

    #footer-items {
        display: grid;
        width: 405px;
        margin: 0 0;
        padding: 0 0;
    }
}

@media screen and (max-width: 412px) and (device-height: 732px) {

    #silo-nav {
        height: 25px;
    }

    #hivie {
        text-align: center;
    }

    #silo-nav img {
        height: 50px;
        width: 50px;
    }

    .nav-small {
        display: block;
        text-align: center;
        height: 12px;
        line-height: 10px;
    }

    .social-media-container {
        display: none;
    }

    .nav-container {
        background: #123132;
        color: #B97F6D;
        z-index: 1;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 140px;
    }

    #nav-account {
        height: 0;
        margin: -40px 0px 0 0px;
        float: right;
        width: 48px;
        padding-left: 0;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 110px;
        padding: 0px;
    }

    .carousel-inner {
        height: 200px;
        /*!important;*/
        margin: 0 0 10px 0;
    }

    .culture {
        padding: 0 0 0 0;
        margin: 0px auto;
        width: 375px;
        text-align: center;
    }

    #culture-header {
        height: 50px;
        width: 330px;
        text-align: center;
    }

    #culture-header li {
        height: 1px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 270px;
    }

    .culture ul {
        padding: 0 0px 0 0;
        margin: 0px auto;
        width: 300px;
    }

    .culture li {
        list-style: none;
        height: 228px;
        text-align: left;
        margin: 0px 0;
        padding: 0px 0 0 0px;
        font-size: 10px;
    }

    #culture1-overlay,
    #culture2-overlay,
    #culture3-overlay {
        display: none;
    }

    #anchor-container {
        padding: 0;
        height: 70px;
        width: 35px;
    }

    #culture-text {
        text-align: center;
        padding: 40px 0px;
        font-size: 10px;
        width: 345px;
        display: none;
    }

    .culture img {
        list-style: none;
        height: 207px;
        width: 300px;
        margin: 0px auto;
    }

    h3 {
        font-size: 14px;
    }

    #tea-header,
    #tea-header li {
        height: 50px;
        width: 400px;
        padding-left: 0;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 630px;
    }

    .tea ul {
        width: 350px;
        padding: 0px 0 0 0;
        display: block;
        margin: 0 0;
    }

    .tea li {
        list-style: none;
        width: 407px;
        height: 350px;
    }

    .tea img {
        width: 300px;
        height: 325px;
    }

    #tea1-overlay,
    #tea2-overlay {
        display: none;
    }

    #tea-text {
        text-align: center;
        padding: 10px 8px;
        font-size: 8px;
        display: none;
    }

    .anchor-items {}

    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 300px;
    }

    #flower-header,
    #flower-header li {
        height: 60px;
        width: 300px;
    }

    .flower-row ul {
        width: 400px;
        padding: 0 0;
    }

    .flower-row li {
        list-style: none;
        height: 272px;
        width: 325px;
        padding: 0 0 0;
    }

    .flower-row img {
        list-style: none;
        height: 250px;
        width: 300px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        display: none;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 500px;
        height: 440px;
        background-color: #123132;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #map {
        display: none;
    }

    #footer-items {
        display: grid;
        width: 405px;
        margin: 0 0;
        padding: 0 0;
    }
}
