@media screen and (max-width: 375px) {

    body {
        background: #000;
    }
    .nav {
        display: none;
    }

    .social-media-container {
        display: none;
    }

    .nav-container {
        background: #000;
        color: #F2EC30;
        z-index: 1;
        position: relative;
        width: 375px;
        margin: 0 auto;
        height: 85px;
    }

    #nav-account {
        height: 0;
        margin: -40px 4px 0px 0px;
        float: right;
        padding: 0 0 0px;
    }

    #nav-account span {
        font-size: 10px;
    }

    .company-logo {
        display: block;
        width: 150px;
        margin: 0 0px auto 110px;
        padding: 0px;
    }

    .carousel-inner {
        height: 200px;
        /*!important;*/
        margin: 0 0 10px 0;
    }

    #culture1-overlay,
    #culture2-overlay,
    #culture3-overlay {
        background: #000;
        position: absolute;
        z-index: 2;
        text-align: center;
        opacity: 0;
        padding: 10px 8px;
        height: 78px;
        width: 60px;
    }

    #anchor-container {
        padding: 0;
        height: 70px;
        width: 35px;
    }
    
     h3 {
        font-size: 18px;
    }

    .tea {
        padding: 0 0 0 0;
        margin: 0 auto;
        width: 667px;
    }

    .tea ul {
        width: 350px;
        padding: 2px 0 0 0;
        margin-left: 2px;
        display: inline-flex;
    }

    .tea li {
        /* remove float left set bootstrap to xs col size 2*/
        list-style: none;
        width: 176px;
        height: 155px;
    }
    .tea img {
        width: 177px;
        height: 150px;
    }

    #tea1-overlay,
    #tea2-overlay {
        background: #000;
        width: 177px;
        height: 150px;
        position: absolute;
        z-index: 2;
        opacity: 0;
        padding: 15px;
    }

    .anchor-items {}
    
    .anchor-items li,
    .anchor-items ul {
        list-style: none;
        height: 15px;
        width: auto;
        display: block;
    }

    .flower-row ul {
        width: 664px;
        padding: 0 0px 0px 2px;
        margin-bottom: 0;
    }

    .flower-row li {
        list-style: none;
        height: 270px;
        width: 350px;
    }

    .flower-row img {
        list-style: none;
        height: 265px;
        width: 361px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        background: #000;
        height: 265px;
        width: 361px;
        position: absolute;
        z-index: 2;
        text-align: center;
        padding: 103px;
        opacity: 0;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 200px;
        height: 200px;
        background-color: #000;
        color: #F2EC30;
        margin: 2px auto;
        text-align: center;
        list-style: none;
    }

    #map {
        display: none;
    }

    #footer-items {
        display: grid;
        width: 260px;
        margin: 0 0 5px 31px;
        padding: 0 80px 129px 0px;
    }
}
