.main-container {}


/*  Default: 1280 x 416
    iphone 6: 375 x 667
    iphone 6 plus: 414 x 736
    ipad pro: 1024 x 1366

    bootstrap grid options: 
    Extra small <576px
    Small ≥576px	
    Medium ≥768px
    Large ≥992px
    Extra large ≥1200px
*/

html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

#carousel-text {
    position: absolute;
    width: 100%;
    z-index: 2;
    margin: 100px auto;
    height: 500px;
    text-align: center;
    color: #EDEDEE;
    opacity: 0.8;
}

#caruosel-text h1 {
    font-size: 60px;
}
/*
.carousel {
    margin-bottom: -7px;
    width: 1285px;
    margin: 0 auto;
}

.carousel-inner {
    height: 650px;
    margin: 0 0 10px 0;
    width: 1285px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 20%;
    margin-left: -10px;
    opacity: .3;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 20%;
    margin-right: -10px;
    opacity: .3;
}
*/

#tea-header,
#tea-header li {
    height: 1px;
    width: 1243px;
}

.tea {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 1245px;
    text-align: center;
}

.tea ul {
    padding: 0 0px 0 0;
    margin: 40px 20px;
    width: 1245px;
}


.tea li{
    list-style: none;
    height: 558px;
    width: 398px;
    margin: 0px;
    padding: 0 0 0 0px;
    font-size: 15px;
}

.tea img {
    list-style: none;
    height: 528px;
    width: 366px;
    margin: 0px auto;
}

#tea1-overlay,
#tea2-overlay {
    background: #123132;
    height: 528px;
    width: 366px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    margin: 0 0 0 15px;
    padding: 155px 0;
    color: #ede1de;
}

#tea-text {
    text-align: center;
    padding: 10px 0px;
}

#culture-header
{
    height: 50px;
    width: 460px;
    text-align: center;
}

#landscape-header {
    display: none;
}

#culture-header li {
    height: 1px;
    text-align: left;
    margin-left: 45px;
}

#culture-header h1 {
   margin-top: 0px; 
}

.culture {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 1242px;
    text-align: center;
}

.culture ul {
    padding: 0 0 0 4px;
    margin: 0 0;
    width: 1289px;
}


.culture li{
    list-style: none;
    height: 530px;
    width: 378px;
    margin: 0px 0;
    padding: 0 0 0 39px;
    font-size: 16px;
}

.culture img {
    list-style: none;
    height: 510px;
    width: 378px;
    margin: 0px auto;
}

#culture1-overlay,
#culture2-overlay {
    background: #123132;
    height: 528px;
    width: 366px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    margin: 0 0 0 15px;
    padding: 155px 0;
}

#culture-text {
    text-align: center;
    padding: 0px 0px;
    width: 285px;
    margin: 0 0 0 0px;
    height: 500px;
}

#cult2 {
    display: none;
}

#est-container
{
    background: #123132;
    position: absolute;
    z-index: 2;
    text-align: left;
    padding: 150px 0px 0 0px;
    height: 510px;
    width: 366px;
    margin: 0px auto;
    color: #EDEDEE;
}

#est-container h1 {
    text-align: center;
    margin: 2px 10px 0 auto;
}

#est-container ul {
    list-style: none;
    width: 267px;
    height: 400px;
    display: inline-flex;
    margin-left: 0px;
}

#est-container li {
    list-style: none;
    width: 100px;
    height: 200px;
    padding-left: 5px;
}

#silhouette {
    margin-right: 118px;
}

#est-container img {
    list-style: none;
    width: 225px;
    height: 140px;
}

#est-container span {
    padding-top: 20px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    display: inline-block;
}

#flower-header,
#flower-header li {
    height: 55px;
    width: 1175px;
    text-align: center;
}

#flower-header h1 {
   margin-top: 0px; 
}

.flower-row {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 1184px;
}

.flower-row ul {
    width: 1365px;
    padding: 0 0px 1px 0px;
    margin-bottom: 4px;
}

.flower-row li {
    list-style: none;
    height: 580px;
    width: 407px;
    padding: 0 0 0 4px;
}

.flower-row img {
    list-style: none;
    height: 528px;
    width: 366px;
}

#flower1-overlay,
#flower3-overlay,
#flower2-overlay {
    background: #123132;
    height: 528px;
    width: 366px;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding: 245px 0;
    opacity: 0;
}

.anchor-items li,
.anchor-items ul {
    list-style: none;
    height: 15px;
    width: auto;
    text-align: center;
}

.allheader-container {
    border-bottom: solid 1px #DCDCDC;
    color: #DCDCDC;
    width: 196px;
    margin-left: -10px;
}

#anchor-container {
    padding: 60px 0;
    margin: 0;
    height: 96px;
}

#tea1-container,
#tea2-container {}

#flower1-container,
#flower3-container,
#flower2-container {}

@media (max-width: 425px) {
    .carousel {
        width: 415px;
    }
    
    .carousel-inner {
        height: 550px;
        width: 600px;
    }
    
    .carousel-inner img {
        height: 600px;
    }
    
    #est-container img {
        list-style: none;
        width: 175px;
        height: 130px;
    }
    
    #silhouette {
        margin-right: 100px;
    }
}

@media (max-width: 425px) and (min-width: 414px) {
    #tea1-overlay, #tea2-overlay {
        margin-left: 54px !important;
    }
}

@media (max-width: 750px) and (orientation: landscape) {
    #flower1-overlay, #flower3-overlay, #flower2-overlay {
        height: 225px;
        width: 215px;
        padding: 80px 0;
        margin-top: 0;
    }
    
    .carousel-control {
        visibility: hidden !important;
    }
}