.main-container {}


/*  Default: 1280 x 416
    iphone 6: 375 x 667
    iphone 6 plus: 414 x 736
    ipad pro: 1024 x 1366

    bootstrap grid options: 
    Extra small <576px
    Small ≥576px	
    Medium ≥768px
    Large ≥992px
    Extra large ≥1200px
*/

html,
body {
    font-family: "helvetica neue", sans-serif;
    overflow-x: hidden;
}

.carousel {
    margin-bottom: -7px;
}

.carousel-inner {
    height: 650px;
    margin: 0 0 10px 0;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 20%;
    margin-left: -10px;
    opacity: .3;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 20%;
    margin-right: -10px;
    opacity: .3;
}


#tea-header,
#tea-header li {
    height: 1px;
    width: 1243px;
}

.tea {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 1245px;
    text-align: center;
}

.tea ul {
    padding: 0 0px 0 0;
    margin: 40px 20px;
    width: 1245px;
}


.tea li{
    list-style: none;
    height: 580px;
    width: 398px;
    margin: 0px;
    padding: 0 0 0 0px;
    font-size: 15px;
}

.tea img {
    list-style: none;
    height: 528px;
    width: 366px;
    margin: 0px auto;
}

#tea1-overlay,
#tea2-overlay {
    background: #000;
    height: 528px;
    width: 366px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    margin: 0 0 0 15px;
    padding: 155px 0;
}

#tea-text {
    text-align: center;
    padding: 20px 8px;
}

#culture-header
{
    height: 1px;
    width: 460px;
    text-align: center;
    padding-left: 34px;
}

#culture-header li
{
    height: 1px;
    width: 430px;
}

.culture {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 1189px;
    text-align: center;
}

.culture ul {
    padding: 0 0px 0 0;
    margin: 0px 20px;
    width: 1289px;
}


.culture li{
    list-style: none;
    height: 530px;
    width: 347px;
    margin: 0px 0;
    padding: 0 0 0 39px;
    font-size: 16px;
}

.culture img {
    list-style: none;
    height: 510px;
    width: 350px;
    margin: 0px auto;
}

#culture1-overlay,
#culture2-overlay {
    background: #000;
    height: 528px;
    width: 366px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    margin: 0 0 0 15px;
    padding: 155px 0;
}

#culture-text {
    text-align: center;
    padding: 50px 0px;
    width: 310px;
    margin: 0 0px 0 0px;
}

#flower-header,
#flower-header li {
    height: 55px;
    width: 1175px;
    text-align: center;
}


.flower-row {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 1184px;
}

.flower-row ul {
    width: 1365px;
    padding: 0 0px 1px 0px;
    margin-bottom: 4px;
}

.flower-row li {
    list-style: none;
    height: 580px;
    width: 407px;
    padding: 0 0 0 4px;
}

.flower-row img {
    list-style: none;
    height: 528px;
    width: 366px;
}

#flower1-overlay,
#flower3-overlay,
#flower2-overlay {
    background: #000;
    height: 528px;
    width: 366px;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding: 245px 0;
    opacity: 0;
}

.anchor-items li,
.anchor-items ul {
    list-style: none;
    height: 15px;
    width: auto;
    text-align: center;
}

.allheader-container {
    border-bottom: solid 1px #DCDCDC;
    color: #DCDCDC;
    width: 196px;
    margin-left: -10px;
}

#anchor-container {
    padding: 60px 0;
    margin: 0;
    height: 96px;
}

#tea1-container,
#tea2-container {}

#flower1-container,
#flower3-container,
#flower2-container {}

#culture1-container,
#culture2-container,
#culture3-container {}

#culture1-overlay,
#culture2-overlay,
#culture3-overlay
{
    background: #000;
    position: absolute;
    z-index: 2;
    text-align: center;
    opacity: 0;
    padding: 26px 10px;
    height: 193px;
    width: 206px;
}
