/*  Default: 1280 x 416
    iphone 6: 375 x 667
    iphone 6 plus: 414 x 736
    ipad pro: 1024 x 1366

    bootstrap grid options: 
    Extra small <576px
    Small ≥576px	
    Medium ≥768px
    Large ≥992px
    Extra large ≥1200px
*/

html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav-menu nav-menu nav-menu' 'caruosel-area . .' '. tea-header .' 'tea tea tea' 'culture culture culture' '. flower-head .' 'flower flower flower' 'footer footer footer';
}

.grid-container > div {
    text-align: center;
    font-size: 30px;
}

/*
.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1250px));
    grid-template-rows: repeat(auto-fit, minmax(300px, 580px));
}*/

ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
}

ol {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}

li {
    grid-column: span 1;
    margin: 0.3em;
    border: none;
    padding: 0.5em;
    width: auto;
    height: auto;
}

.item2 {
    grid-area: caruosel-area;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
}


.tea-header {
    grid-area: tea-header;
    display: grid;
    justify-content: center;
}

.item3 {
    grid-area: tea;
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    grid-auto-flow: column;
    grid-template-columns: 30% 33% 29%;
    margin-top: .5em;
}

#item-header-mobile {
    display: none;
}

.item4 {
    grid-area: culture;
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    grid-auto-flow: column;
    grid-template-columns: 33% 30% 29%;
    margin-top: 1em;
}

.flower-header {
    grid-area: flower-head;
    display: grid;
    justify-content: center;
}

.item5 {
    grid-area: flower;
    display: grid;
    justify-content: center;
    grid-gap: 1em 2em;
    grid-auto-flow: column;
    margin-bottom: 1em;
}


/* Carousel Area */

#myCarousel {
    font-size: 16px;
}

.carousel-inner,
.carousel-inner img {
    height: 600px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-indicators {
    margin-left: 0;
    left: 47.5%;
}

#carousel-text {
    position: absolute;
    width: 100%;
    z-index: 2;
    margin: 100px auto;
    color: #EDEDEE;
    opacity: 0.8;
}

#caruosel-text h1 {
    font-size: 60px;
}

/* On hover clickable overlay over image */

#tea1-overlay { 
    margin-left: .2em;
}

#tea1-overlay,
#tea2-overlay,
#trending-overlay,
#shop-overlay,
#flower1-overlay,
#flower3-overlay,
#flower2-overlay {
    background: #123132;
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    display: grid;
    grid-auto-flow: row;
}

#tea1-overlay,
#tea2-overlay,
#flower1-overlay,
#flower3-overlay,
#flower2-overlay {
    height: 528px;
    width: 366px;
}

#trending-overlay,
#shop-overlay {
    height: 264px;
    width: 366px;
}

#tea1-container,
#tea2-container,
#trending-container,
#shop-container,
#flower1-container,
#flower3-container,
#flower2-container {}

/* image sizes for tea, culture and flower area */

.item3 img,
.item5 img,
#est-container img,
#trend-shop-container {
    height: 528px;
    width: 366px;
}

/* Mini carousel area trending/shop */
#trend-shop-container {
    display: grid;
}

#trending-container,
#shop-container {
    display: grid;
}

#trending-container,
#shop-container,
.trending img,
.trending,
.shop img,
.shop {
    height: 264px;
    width: 366px;
}

.trending img,
.trending,
.shop img,
.shop {
    height: 264px;
}

@media (min-width: 768px) {
    #link-mobile {
        display: none;
    }
    
    #link-regular {
        display: block;
    }
}

@media (max-width: 2600px) and (min-width: 2000px) {

    .item3 {
        grid-template-columns: 37.5% 23% 37%;
    }

    #culture-text,
    #tea-text {
        font-size: 17px !important;
    }

    .item4 {
        grid-gap: 6em;
        grid-template-columns: 25% 24% 24.5%;
    }

    .item5 {
        grid-gap: 1em 4em;
        grid-auto-columns: 27% 27% 28%;
    }

    #flower1-overlay,
    #flower3-overlay, 
    #flower2-overlay {
        margin-left: 49px;
    }

    #tea1-overlay,
    #tea2-overlay {
        margin-left: 183px;
    }

    .item3 img,
    .item5 img,
    #est-container img,
    #trend-shop-container {
        height: 600px;
        width: 600px;
    }

    #tea1-overlay,
    #tea2-overlay,
    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        height: 600px;
        width: 600px;
    }

    #trending-container,
    #shop-container,
    .trending img,
    .trending,
    .shop img,
    .shop,
    #trending-overlay,
    #shop-overlay {
        height: 300px;
        width: 600px;
    }   
}


@media (max-width: 2200px) and (min-width: 1800px) {
    .item3 {
        grid-template-columns: 37.5% 23% 37%;
    }

    .item3 img,
    .item5 img,
    #est-container img,
    #trend-shop-container {
        height: 580px;
        width: 550px;
    }

    #culture-text,
    #tea-text {
        font-size: 17px !important;
    }

    .item4 {
        grid-gap: 3em;
        grid-template-columns: 25% 25% 24.5%
    }

    .item5 {
        grid-gap: 1em 3em;
        grid-auto-columns: 27% 27% 28%;
    }

    #tea1-overlay,    
    #tea2-overlay {
        margin-left: 80px;
    }

    #tea1-overlay,
    #tea2-overlay,
    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        height: 580px;
        width: 550px;
    }

    #trending-container,
    #shop-container,
    .trending img,
    .trending,
    .shop img,
    .shop,
    #trending-overlay,
    #shop-overlay {
        height: 290px;
        width: 500px;
    }
}

@media (max-width: 1440px) {
        .item4 {
        grid-gap: 4em;
        grid-template-columns: 24.7% 25% 24.5%;
    }

        .item5 {
        grid-gap: 1em 4em;
    }

}

@media screen and (max-width: 1040px) {

    .auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(265px, 1024px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 355px));
    }

    li {
        margin: unset;
    }

    .item4 ul {
        grid-template-columns: 36% 31%;
    }
    
    #tea1-overlay,
    #tea2-overlay {
        height: 316px;
        width: 280px;
    }

    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        height: 270px;
        width: 280px;
    }
     
    /* image sizes for tea, culture and flower area */
    .image3 li,
    .image5 li,
    #est-container li,
    .item3 img,
    .item5 img {
        height: 82%;
        width: 82%;
    }

    #est-container img {
        height: 305px;
        width: 82%;
    }

    li > p {
        font-size: 11px;
    }

    /* Mini carousel area trending/shop */
    .trending img,
    .trending,
    .shop img,
    .shop,
    #trending-overlay,
    #shop-overlay {
        height: 152px;
        width: 255px;
    }
    
    #trending-container >
    div.trending.slick-initialized.slick-slider >
    button.slick-prev.slick-arrow,
    #shop-container >
    div.shop.slick-initialized.slick-slider >
    button.slick-prev.slick-arrow {
        width: 30px;
    }
}

@media screen and (min-width: 315px) and (max-width: 330px) {
    
    #myCarousel {
        margin: 0 0;
    }
    
    .carousel {
        width: 320px;
    }

    .item3 {
        grid-template-columns: 80%;
    }
    
    .item4 {
        grid-template-columns: 77% !important;
    }
        
    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6 {
        width: 320px;
    }
    
    .item3 img {
        width: 100%;
    }
    
    #tea1-overlay,
    #tea2-overlay {
        height: 5% !important;
        width: 65% !important;
        margin: 0 0 0 0px !important;
    }
    
    #trending-overlay,
    #shop-overlay {
        height: 5% !important;
        width: 77% !important;
    }
    
    #flower1-overlay,
    #flower3-overlay,
    #flower2-overlay {
        height: 5% !important;
        width: 76% !important;
    }
}

/* Mobile View */

@media screen and (max-width: 425px) {
      
    li {
        margin: unset;
    }
    
    ul {
        grid-auto-flow: row;
    }
    
    li {
        margin: 0.1em;
    }
    
    .item2 {
        height: 600px;
    }
    
    .item5 img  {
        width: 245px;
        height: 310px;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 'nav-menu' 'caruosel-area' 'tea' 'culture' 'flower-head' 'flower' 'footer';
    }
    
    .auto-fit {
        grid-template-columns: unset;
        grid-template-rows: unset;
    }
    
    .tea-header {
        display: none;
    }
    
    .item3,
    .item4 {
        grid-template-columns: 65%;
    }
    
    .item3 {
        margin-top: -1em;
    }
    
    #link-regular {
        display: none;
    }
    
    #line-mobile {
        display: block;
    }
    
    #link-mobile h4 {
        margin-top: 4px;
    }
    
    .item4 {
        margin: 1em 0 1em 0;
    }
    
    #item-header-mobile {
        display: inherit;
        text-align: center;
    }
    
    #trending-container,
    #shop-container,
    .trending img,
    .trending,
    .shop img,
    .shop {
        height: 264px;
        width: 246px;
    }
    
    #est-container,
    #est-container img {
        height: 370px;
        width: 246px;
    }
    
    .item3,
    .item4,
    .item5 {
        grid-auto-flow: row;
    }
    
    #myCarousel > ol {
        visibility: hidden;    
    }
    
    .carousel {
      height: 566px;
    }
    
    .flower-header {
        display: none;
    }
    
    .item5 {
        margin-bottom: 1em;
    }
}

/*
@media (max-width: 425px) and (min-width: 414px) {
    #tea1-overlay, #tea2-overlay {
        margin-left: 54px !important;
    }
}

@media (max-width: 750px) and (orientation: landscape) {
    #flower1-overlay, #flower3-overlay, #flower2-overlay {
        height: 225px;
        width: 215px;
        padding: 80px 0;
        margin-top: 0;
    }
    
    .carousel-control {
        visibility: hidden !important;
    }
}*/
