
@media (min-width:500px) {
    #main {
        height: 800px;
    }
    
    .tea-items {
        height: 380px;
    }
}

@media (max-width: 500px) {
    #main {
        height: 385px;
    }
    
    .tea-items {
        height: 170px;
    }
}

@media (min-width: 1200px) {
    .tea-items ul {
        width: 1220px;
        padding-left: 40px;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    
    #main {
        height: 370px;
    }
    
    #all img {
        width: 90px;
    }
    
    #all li {
        width: 105px;
    }
    
}

@media (min-width: 650px) and (orientation: landscape) {
    #main {
        height: 370px;
    }
    
    .tea-items {
        height: 160px;
    }
    
    #all li {
        padding-left: 10px;
        height: 175px;
        width: 190px;
    }
    
    #all img {
        width: 180px;
        height: 150px;
    } 
}

@media (min-width: 650px) and (max-width: 700px) and (orientation: landscape) {
    #all {
        padding-left: 57px !important;
        margin: 25px auto;
    }
}

@media (min-width: 700px) and (max-width: 750px) and (orientation: landscape) {
    #all {
        padding-left: 90px !important;
        margin: 30px auto;
    }
}
