
@media (min-width:500px) {
    #main {
        height: 800px;
    }
    
    .tea-items {
        height: 380px;
    }
}

@media (max-width: 500px) {
    #main {
        height: 385px;
    }
    
    .tea-items {
        height: 170px;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    
    #main {
        height: 370px;
    }
    
    #all img {
        width: 90px;
    }
    
    #all li {
        width: 105px;
    }
    
}
