html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav-menu nav-menu nav-menu' '. tea-type .' 'tea tea tea' 'footer footer footer';
}

.grid-container > div {
    text-align: center;
}

.tea-type {
    display: grid;
    grid-area: tea-type;
    justify-content: center;
}

.tea {
    display: grid;
    grid-area: tea;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 20px;
    grid-template-rows: auto;
    margin: 10px 0 30px 0;
}

.tea > div > h3 {
    display: block;
}

.tea img {
    width: 370px;
    height: 350px;
}

#tea-info ul {
    display: inherit;
}

#tea-name {
    text-align: center;
    z-index: 6;
}

#inline-content {
    background-color: #fff;
    height: 329px;
    width: 329px;
    align-content: center;
}

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

#sb-wrapper-inner {
    height: 500px !important;
    bottom: 50px; !important;
}

#sb-body div{
    background-color: #fff;
}

#sb-body img {
    width: 290px;
    height: 225px;
}

#sb-body ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

#sb-player.html {
    overflow: hidden !important;
}

#sb-info {
    bottom: 45px !important;
}

#tea-info {
    z-index: 2;
}

#tea-info p {
    margin: 0 0;
    height: 55px;
    font-size: 13px;
}

.ratings {
    list-style: none;
    padding-left: 20px;
    display: block;
}

.ratings ol {
    padding-left: 0;
    display: flex;
    text-align: left;
    list-style: none;
    height: 26px;
}

.ratings li {
    text-align: left;
    list-style: none;
}

.progress-bar-success {
    background-color: #5cb85c !important;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: left;
    background-color: #B97F6D !important;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    padding-left: 5px;
}

.progress {
    height: 20px;
    margin: 8px 0 0 3px;
    background-color: #415A5B !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1) !important;
}

@media (min-width: 500px) {
    .ratings {
        display: block;
    }
    
    .mobile-ratings {
        display: none; 
    }
}

@media (max-width: 425px) {
    
    .ratings {
        display: none;
    }
    
    .tea img {
        width: 85%;
    }
    
    .grid-container {
        display: grid;
        grid-template-areas: 'nav-menu' 'tea-type' 'tea' 'footer';
        grid-auto-flow: row;
    }
    
    .tea-type {
        display: grid;
        grid-area: tea-type;
    }
    
    .tea {
        grid-auto-flow: row;
        grid-area: tea;
        grid-gap: 3em;
    }
    
    #mobile-img {
        height: 230px;
    }
    
    .mobile-ratings {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-flow: column;
        padding-left: 30px;
    }
    
    .ratings {
        display: none;
    }
    
    #sb-wrapper {
        top: 90px !important;
    }
    
    .mobile-ratings > ul {
        grid-auto-flow: row;
    }
    
    .glyphicon, .glyphicon-ok {
        color: #007F00;
    }
    
    #tea-info p {
        margin: 0 auto;
        height: 40px;
        font-size: 28px;
        text-align: left;
        width: 100px;
    }
    
    .tea > div > h3 {
        display: none;
    }
    
    #all {
        margin: 32px auto;
    }
    
    #all img {
        width: 100px;
        height: 135px;
    }
    
    #all li {
        padding-left: 18px;
        height: 165px;
        width: 127px;
        padding-right: 0px;
    }
}

/* zoomed view with no grid */
@supports not (display: grid) and (max-width: 425px) {
    
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

/* zoomed view */

@media screen and (min-width: 320px) and (max-width: 335px) {

    #sb-wrapper-inner {
        height: 464px !important;
    }

    .mobile-ratings {
        padding-left: 9px;
        grid-template-columns: 35% 34%;
    }

    .mobile-ratings ul {
        width: 95px;
    }

    #tea-info p {
        width: 92px;
    }

    #sb-body img {
        width: 245px;
    }

    #sb-wrapper-inner {
        bottom: 70px;
    }
}

@media screen and (min-width: 550px) and (max-width: 570px) and (orientation: landscape) {
    .tea > div > a > img {
        width: 181px !important;
        height: 200px !important;
    }
    
    .tea {
        grid-gap: 5px;
        margin: 0;
    }
}

@media (max-width: 425px) and (min-width: 410px) {

    .tea-items {
        width: 420px;
        height: 165px;
    }
    
    .tea-items ul {
        width: 400px;
        height: 150px;
        padding-left: 15px;
    }
    
    .tea-items li {
        width: 300px;
        height: 340px;
        padding-left: 46px;
        padding-right: 0;
    }
    
    .tea-items img {
        width: 320px;
        height: 320px;
    }
    
    #tea-info p {
        margin: 0 auto;
        height: 40px;
        font-size: 28px;
        text-align: left;
        width: 100px;
    }
    
    .ratings {
        display: none;
    }
    
    .mobile-ratings {
        display: grid;
        grid-gap: 1em;
        width: 300px;
        padding-left: 20px;
        padding-top: 25px;
    }
    
    .mobile-ratings ul {
        width: 145px;
    }
    
    #sb-wrapper {
        top: 90px !important;
    }
    
    .glyphicon, .glyphicon-ok {
        color: #007F00;
    }
    
    #all {
        margin: 32px auto;
    }
    
    #all img {
        width: 100px;
        height: 135px;
    }

    #all img {
        width: 100px;
        height: 135px;
    }
    
    #all li {
        padding-left: 18px;
        height: 165px;
        width: 127px;
        padding-right: 0px;
    }
}

@media (max-width: 800px) and (min-width: 500px) and (orientation: landscape) {

    .tea > div > a > img {
        width: 200px;
        height: 220px;
    }
    
    #tea-info p {
        font-size: 22px;
    }
    
    .ratings {
        display: none;
    }
    
    #sb-body img {
        width: 170px;
        height: 170px;
    }
    
    .mobile-ratings {
        display: inline-grid;
        width: unset;
        padding-left: 0px;
        padding-top: 5px;
        grid-auto-flow: column;
    }
    
    .mobile-ratings ul {
        width: unset;
        grid-auto-flow: row;
    }
    
    .mobile-ratings li {
        height: 30px;
    }
    
    #mobile-img {
        height: 136px;
    }
    
    #yes {
        padding-left: 28px;
    }
    
    #tea-info img {
        height: 135px;
    }
    
    #sb-wrapper {
        top: 90px !important;
        left: 165px !important;
        width: 350px !important;
    }
    
    #sb-body {
        height: 355px !important;
    }
    
    #sb-wrapper-inner {
        height: 370px !important;
        bottom: 115px;
    }
    
    .glyphicon, .glyphicon-ok {
        color: #007F00;
    }
    
    #all {
        margin: 32px auto;
    }
    
    #all img {
        width: 100px;
        height: 135px;
    }

    #all img {
        width: 100px;
        height: 135px;
    }
    
    #all li {
        padding-left: 18px;
        height: 165px;
        width: 127px;
        padding-right: 0px;
    }
}


@media (max-width: 2000px) {
    .item6 {
        height: 340px;
    }
}