html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav-menu nav-menu nav-menu' 'title title title' 'trend trend trend' '. trend2 .' '. more .' 'footer footer footer';
}

.grid-container > div {
    text-align: center;
}

.trending-title {
    display: grid;
    grid-area: title;
    /*margin: 0 auto 30px auto;*/
    padding-bottom: 5px;
    text-align: left !important;
    border-bottom: 1px solid #cfcfcf
}

.trending1 {
    display: grid;
    grid-template-columns: 31% 39% 45%;
    grid-area: trend;
    font-style: italic;
    border-bottom: 1px solid #cfcfcf
}

.trending1 img {
    width: 700px;
    height: 400px;
}

.trending2 {
    display: grid;
    grid-template-columns: 31% 39% 45%;
    grid-area: trend2;
    font-style: italic;
    border-bottom: none;
}

.trending2 img {
    width: 700px;
    height: 400px;
}

.sub-header {
    text-align: left;
    padding-left: 1em;
}

#trend-msg {
    display: block;
}

#date {
    display: block;
}

.post {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    /*height: 700px;
    width: 700px;
    margin: 0 0;*/
}

.rec-posts {
    display: grid;
    justify-content: center;
    grid-template-rows: 7% 11% 11%;
}

.rec-post > div:nth-child(2) > a > h5 {
    text-align: left;
}

/*
.post h1 {
    text-align: center;
    width: 746px;
}*/

.load-more {
    grid-area: more;
    padding-bottom: 5px;
}

.load-more img {
    width: 700px;
}

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

/* zoomed view with no grid */
@supports not (display: grid) and (max-width: 425px) {
    
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    .load-more img {
        width: 320px !important;
    }
}

@media (max-width: 425px) {
    .grid-container {
        grid-template-areas: 'nav-menu' 'title' 'trend' 'trend2' 'more' 'footer';
    }
    
    .trending-title {
        justify-content: center;
    }
    
    .sub-header, 
    .rec-posts {
        display: none;
    }
    
    .trending1 img,
    .trending2 img {
        width: 315px;
        height: 340px;
    }
    
    .trending1 {
        grid-template-columns: 100%;
    }

    .trending2 {
        grid-template-columns: 100%;
    }
    
    .load-more img {
        width: 350px;
    }
}

@media screen and (min-width: 540px) and (max-width: 580px) and (orientation: landscape) {
    
    .trending1,
    .trending2 {
        grid-template-columns: 105%;
    }
    
    .load-more img {
        width: 431px;
    }

    .post p {
        width: 530px;
    }
    
}

@media screen and (max-width: 750px) and (min-width: 730px) {
    .load-more {
        text-align: inherit !important;
    }
}

@media screen and (max-width: 750px) and (min-width: 500px) and (orientation: landscape) {

    .grid-container {
        display: grid;
        grid-template-areas: 'nav-menu nav-menu nav-menu' '. title .' 'trend trend .' '. trend2 .' '. more .' 'footer footer footer';
    }
    
    .trending-title {
        text-align: center !important;
    }
    
    #trend-msg {
        display: none;
    }
    
    .trending1 img,
    .trending2 img {
        width: 500px;
    }
    
    .rec-posts {
        display: none;
    }
}