html,
body {
    overflow-x: hidden;
    color: #B97F6D;
    background-color: #EDEDEE;
}

a {
    color: #d0b0a6;
}

#trending-title {
    text-align: left;
    width: 1280px;
    margin: 0 auto 30px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #cfcfcf
}

#sub-header {
    display: block;
}

.trending-items {
    width: 1280px;
    font-style: italic;
    margin: 0 auto 15px auto;
    border-bottom: 1px solid #cfcfcf
}

#date {
    display: block;
}

#rec-posts h4 {
    margin-top: 0;
    text-align: center;
}

.trending-items ul {
    list-style: none;
    display: block;
    margin: 20px auto;
}

.trending-items li {
    list-style: none;
    width: 700px;
    height: 405px;
}

.trending-items img {
    width: 700px;
    height: 400px;
}

.trending-items p {
    margin: 0 auto;
}

#sb-overlay {
    background-color: #123132 !important;
}

#sb-loading-inner {
    padding-left: 55px;
}

.post {
    height: 700px;
    width: 700px;
    margin: 0 0;
}

#rec-posts {
    height: 300px;
    text-align: left;
}

#rec-posts ul {
    height: 180px;
    width: 180px;
}

#rec-posts li {
    height: 60px;
    width: 130px;
}

#last-item {
    border: none;
}

.post h1 {
    text-align: center;
    width: 746px;
}

#load-more {
    width: 752px;
    margin: 0 auto;
    padding-bottom: 5px;
}

#load-more img {
    width: 700px;
}

/* zoomed view */
@media screen and (min-width: 320px) and (max-width: 335px) {
    #trending-title {
        margin-bottom: 5px;
    }
    
    .trending-items  ul {
        padding-left: 0px !important;
    }
    
    .trending-items img {
        width: 288px !important;
    }
    
    .post h1 {
        width: 295px !important;
    }
    
    .post li {
        width: 288px !important;
    }
    
    #load-more img {
        width: 320px !important;
    }
}


@media (max-width: 425px) {
    
    #sub-header {
        display: none;
    }
    
    .trending-items {
        width: 400px !important;
        margin: 0 auto 10px auto;
    }
    
    .trending-items ul {
        list-style: none;
        display: block;
        margin: 15px auto;
        padding-left: 15px;
    }
    
    .trending-items li {
        width: 315px;
        height: 371px;
    }
    
    .trending-items img {
        width: 315px;
        height: 370px;
    }

    #rec-posts {
        display: none;
    }
    
    .post {
        height: 600px;
        width: 340px;
        margin: 0 auto;
    }
    
    .post h1 {
        width: 345px;
    }
    
    #load-more {
        width: 350px;
    }
    
    #load-more img {
        width: 350px;
    }
}

    @media (max-width: 375px) {
        .post {
            width: 375px;
        }
}

@media (min-width: 600px) and (max-width: 670px) {
    .post ul {
        padding-left: 0;
    }
    
    #rec-posts {
        display: none;
    }
    
    .post {
        height: 615px;
    }
    
    .trending-items li {
        width: 655px;
    }
    
    .trending-items img {
        width: 637px;
    }
    
    .post h1 {
        width: 600px;
    }
    
    #load-more {
        width: 702px;
    }
    
    #load-more img {
        width: 670px;
    }
}

@media (min-width: 680px) and (max-width: 750px) {
    .post ul {
        padding-left: 0;
    }
    
    #rec-posts {
        display: none;
    }
    
    .post {
        height: 615px;
    }
    
    .post h1 {
        width: 670px;
    }
    
    #load-more {
        width: 702px;
    }
}